<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted" data-test="planet-name">{{planet.name}}</h6>

    <div class="row">
      <div class="col-sm-2">Population:</div>
      <div class="col-sm-10">
        {{planet.population}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Climate:</div>
      <div class="col-sm-10">
        {{planet.climate}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Gravity:</div>
      <div class="col-sm-10">
        {{planet.gravity}}
      </div>
    </div>
  </div>
</div>
